# General Python files
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

# LangChain specific files
.env
*.pickle
*.pkl
*.joblib
*.bin
*.index

# Virtual environment files
venv/
.venv/
env/

# IDE-specific files
.idea/
.vscode/

# other local files I want to ignore
logs/