[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langgraph = "*"
langchain-openai = "*"
langchain-core = "*"
python-dotenv = "*"
langchain = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
