[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langgraph = "*"
langchain-openai = "*"
langchain-core = "*"
python-dotenv = "*"
langchain = "*"
numpy = "*"
rich = "*"
sentence-transformers = "*"
langchain-community = "*"
jq = "*"
faiss-cpu = "*"

[dev-packages]
pytest = "*"
responses = "*"
pytest-mock = "*"

[requires]
python_version = "3.12"
